<div class="col-md-offset-1 col-md-10">
	<div class="section">
		<h2 class="text-success text-center text-capitalize">{{jobInfo.title}}</h2>
		<hr/>
		<p class="col-md-2"><strong>Position:</strong></p><p class="col-md-4">{{jobInfo.position}}</p>
		<p class="col-md-2"><strong>Institution:</strong></p><p class="col-md-4">{{jobInfo.institution}}</p>
		<p class="col-md-2"><strong>Posted on</strong></p><p class="col-md-4">{{jobInfo.country}}</p>
		<p class="col-md-2"><strong>Expires on</strong></p><p class="col-md-4">{{jobInfo.end_date}}</p>
		</div>
	</div>
