<div class="col-md-offset-1 col-md-10">
	<section>

		<h2 class="text-success text-center text-capitalize">{{jobInfo.title}}</h2>
		<hr/>
		<p class="col-md-2"><strong>Position:</strong></p><p class="col-md-4">{{Data.positionOptions[jobInfo.position].names}}</p>
		<p class="col-md-2"><strong>Email:</strong></p><p class="col-md-4">{{jobInfo.email}}</p>
		<p class="col-md-2"><strong>Institution:</strong></p><p class="col-md-4">{{jobInfo.institution}}</p>
		<p class="col-md-2"><strong>Country</strong></p><p class="col-md-4">{{jobInfo.city}}, {{Data.countryOptions[jobInfo.country].name}}</p>
		<p class="col-md-2"><strong>Deadline</strong></p><p class="col-md-4">{{jobInfo.end_date}}</p>
		<section>
			<p class="col-md-12"><strong>Job Description</strong></p><p class="col-md-4">{{jobInfo.description}}</p>
		</section>
	</section>
	<section class="text-center btn-div verticalspace">
		<input type="button" class="btn btn-success col-md-2" value="EDIT">
	</section>
</div>

